<!DOCTYPE html>
<html>
  <head>
    <title>Writeit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-header">

      <!--  <div class="secondary-nav head-col">
        <a class="main-nav__link2" href="#">item</a>
        <a class="main-nav__link2" href="#">item</a>
        <a class="main-nav__link2" href="#">item</a>
        <a class="main-nav__link2" href="#">item</a>
      </div> -->

      <div class="top-nav">
        <img src="img/logo.png" alt="Logo" class="logo">
        <nav class="main-nav head-col">
          <a class="main-nav__link" href="#">Popular</a>
          <a class="main-nav__link" href="#">All</a>
          <a class="main-nav__link" href="#">Random</a>
          <a class="main-nav__link" href="#">Users</a>
          <a class="main-nav__link" href="#">|</a>
        </nav>
      </div>

      <div class="secondary-nav head-col">
        <a class="main-nav__link2" href="#">Item</a>
        <a class="main-nav__link2" href="#">Item</a>
        <a class="main-nav__link2" href="#">Item</a>
        <a class="main-nav__link2" href="#">Item</a>
      </div>

    </header>


    <h1>Test title</h1>
    <%= yield %>


     <footer class="main-footer">
        <div class="footer-inner">
          <span>&copy;2018 Write it</span>
        </div>
    </footer>

  </body>
</html>
